src/
tests/
node_modules/
*.test.ts
*.spec.ts
*.map
*.mjs
build.mjs
tsconfig.json
.gitignore
.prettierignore
.prettierrc
.eslintrc
jest.config.js
examples/
prettier.config.js
TODO.md
package-lock.json
